<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Guessing_Game_JM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Guessing_Game_JM.Properties.Settings>
            <setting name="Difficulty" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="PlayerName" serializeAs="String">
                <value>Default</value>
            </setting>
        </Guessing_Game_JM.Properties.Settings>
    </userSettings>
</configuration>