<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Guessing_Game_JM.Properties.Settings_User2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Guessing_Game_JM.Properties.Settings_User3" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Guessing_Game_JM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup> 
    </configSections>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Guessing_Game_JM.Properties.Settings_User2>
            <setting name="Difficulty" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="PlayerName" serializeAs="String">
                <value>Player2</value>
            </setting>
        </Guessing_Game_JM.Properties.Settings_User2>
        <Guessing_Game_JM.Properties.Settings_User3>
            <setting name="Difficulty" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="PlayerName" serializeAs="String">
                <value>Player3</value>
            </setting>
        </Guessing_Game_JM.Properties.Settings_User3>
        <Guessing_Game_JM.Properties.Settings>
            <setting name="Player1_Difficulty" serializeAs="String">
                <value />
            </setting>
            <setting name="Player1_Name" serializeAs="String">
                <value>Player1</value>
            </setting>
            <setting name="Player2_Difficulty" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Player2_Name" serializeAs="String">
                <value>Player2</value>
            </setting>
            <setting name="Player3_Difficulty" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Player3_Name" serializeAs="String">
                <value>Player3</value>
            </setting>
        </Guessing_Game_JM.Properties.Settings>
    </userSettings>
</configuration>